
.cards {
    background-color: #ffffff;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.cards:hover {
    cursor: pointer;
    box-shadow: 0 0 100px rgb(6, 60, 177);
}
